body {
  background: #0d0d0d;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding: 15px;
  background: #111;
}

main {
  padding: 15px;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

.row {
  display: flex;
  gap: 10px;
}

button {
  background: #00ff99;
  color: #000;
  border: none;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #222;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
}
